.footer-info{
  background-color: $black-footer;
  padding:80px 0;
}

.about-comp{
  padding: 0 20px;

  p{
    font-weight: 300;
    font-family: $secondary-font-family;
    line-height: 1.7;
    color: $gray-drak;
    padding: 30px 0;

  }
  .read-more{
    color: $white;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $brown-light;

    }
  }

  &:hover{
    p {
      color: $white;
    }
    .read-more{
      color: $brown-light;
    }
  }
}

.recent-post{
  padding: 0 20px;

}

.handle{
  font-size: 24px;
  font-weight: bold;
}

.post1{
  margin-top: 10px;
}
.recent-post-holder{

  span{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.67;
    color: $black-day;
    font-family: $secondary-font-family;

  }

  p{
    font-family: $secondary-font-family;
    font-weight: 300;
    line-height: 1.43;
    color: $gray-drak;

    a{
      color:#00bff3;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #00bff3;

      }
    }
  }

  &:hover{
    span{
      color: $white;
    }

    p{
      color: $brown-light;
    }
  }
}

.post2:after, .post1:after{
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: $black-month;
}

.twitter{
  padding: 0 20px;
}

.dribbble{
  padding: 0 20px;
  .handle {
    padding-bottom: 30px;
  }
  img{
    padding: 10px 0 0 10px;

  }
}

.recent-post, .about-comp, .twitter, .dribbble{
  max-width: 400px;
  padding-bottom: 30px;
}

.footer-info-holder{
  justify-content: center;
}

@media (min-width: 576px){

  .recent-post, .about-comp, .twitter, .dribbble{
    padding-bottom: 0;
  }

  .footer-info-holder{
    justify-content: normal;
  }

}

.footer{
  background-color: #111111;
  padding: 50px 0;
}

.footer-holder{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-content{
  padding-bottom: 20px;


  li{
    font-family: $secondary-font-family;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    list-style: none;
    padding:0 20px;
    text-align: center;

    &:last-child{
      border: none;
    }
    b{
      color: #959595;
    }
    a{
      color: $gray-drak;
      border-bottom: 1px solid transparent;
      &:hover{
        border-bottom: 1px solid #959595;
      }
    }
  }
}

@media (min-width: 576px) {
  .footer-content {
    padding-bottom: 20px;

    li {
      text-align: left;
      display: inline;
      border-right: 2px solid $gray-drak;
    }
  }

  .footer-holder{
    justify-content: space-between;
  }
}