.image-bg{
  background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/slide-mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  padding-bottom: 10px;
  font-family: $secondary-font-family;
  font-weight: 300;
  padding-top: 40px;
}

.toggle-main {
  display: none;
}

.icon-close{
  display: none;
}

.nav-links {
  text-decoration: none;
  color: $white;
}

.right-nav{
  list-style: none;
  display: flex;
  margin-left: 23px;
  position: relative;
  justify-content: flex-end;
  top: -310px;
}

.ico-link{
  color: $white;
  text-decoration: none;

}
.main-nav{
  color: $white;
  list-style: none;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}


.logo {
  margin-top: 10px;
}

.navbar-toggle {
  padding-top: 10px;
  position: absolute;
  top: 45px;
  right: 30px;
  cursor: pointer;
  font-size: 24px;
}

.active {
  display: block;
}

.noactive {
  display: none;
}


.icon-search{
  margin-left: 24px;
}

@media screen and (min-width: 1071px) {
  .navbar {
    display: flex;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }

  .right-nav{
    top: 0;
  }

  .toggle-main{
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-right: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    padding-top: 40px;
    display: none;
  }

  .nav-links:hover {
    color: $brown-light
  }

  .ico-link:hover {
    color: $brown-light
  }

}

.searchBar {
  position: absolute;
  bottom: -27px;
  right: -19px ;
  background-color: $white;
  border: 0;
  color: $black;
  font-size: 9pt;
  font-weight: 500;
  margin-right: 10px;
  padding: .25em .75em;
  max-width: 70px;
  text-align: left;
  border-radius: 28px;
  outline:none;
}

@media screen and (min-width: 425px) {
  .searchBar{
    max-width: 130px;
  }
}


#toggle-search {

}
