body {
	font-family: $base-font-family;
	font-size: 14px;
	line-height: 1.7;
	min-width: 320px;
	color: $base-text-color;
	overflow-x: hidden;
}

#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1230px;
	padding: 0 #{$grid-gutter-width / 2};
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -#{$grid-gutter-width / 2};
}

.col {
	padding: 0 #{$grid-gutter-width / 2};
	flex-grow: 0;
	flex-shrink: 0;

	&.center {
		justify-content: center;
	}
}

@for $i from 1 through $grid-count {
	.col-#{$i} {
		width: 100% / $grid-count * $i;
	}
}


@each $item, $breakpoint in $breakpoints {
	@media all and (min-width: $breakpoint) {
		@for $i from 1 through $grid-count {
			.col-#{$item}-#{$i} {
				width: 100% / $grid-count * $i;
			}
		}
	}
}
button:focus {
	outline: none;
}

.button-pimary{
	padding: 15px 27px;
	line-height: 1.64;
	font-weight: 800;
	border-radius: 3px;
	background-color: $brown;
	box-shadow: inset 0px -3px 0 0 #736357;
	border: 2px solid transparent;


}

.button-pimary:hover{
	background-color: $white;
	border: 2px solid $brown;
	color: $brown;
	transition:  .5s;
}

.slider-holder{
	display: flex;
	justify-content: center;
	margin-top: 140px;

}

.slider-content{
	text-align: center;
	margin-bottom: 45px;

	p{
		max-width: 562px;
		font-family: $secondary-font-family;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 52px;
	}
}

h2{
	font-size: 25px;
	font-weight: 800;


}

.sider-info{
	font-size: 19px;
	font-weight: 500;

}

@media (min-width: 576px){

	.slider-holder{
		margin-top: 200px;
	}

	.button-pimary {
		padding: 17px 35px;

	}

	.sider-info{
		font-size: 27px;
	}

	h2{
		font-size: 37px;
	}

	.slider-content p{
		font-size: 14px;
		margin-bottom: 82px;
	}

	.slider-content {
		margin-bottom: 180px;
	}
}

@media (min-width: 768px){

	.slider-holder{
		margin-top: 280px;
	}

	.button-pimary {
		padding: 17px 35px;
	}

	.sider-info{
		font-size: 36px;
	}

	h2{
		font-size: 52px;
		line-height: 1.2;
	}

	.slider-content p{
		font-size: 16px;
	}

	.slider-content {
		margin-bottom: 350px;
	}
}

.owl-next{
	position: absolute;
	top: 30%;
	right: 0;
	outline:none;
}
.owl-carousel{
	margin-bottom: 30px;
	position: relative;
	z-index: 3;
}

@media (min-width: 576px){
	.owl-carousel{
		margin-bottom: 50px;
	}
}

@media (min-width: 768px){
	.owl-carousel{
		margin-bottom: 80px;
	}
}

.owl-prev{
	position: absolute;
	top: 30%;
	left: 0;
	outline:none;
}

.owl-next:hover{
	background: transparent !important;
}

.owl-prev:hover{
	background: transparent !important;
}

.owl-nav{
	font-size: 100px;

}

@media (min-width: 1450px) {
	.owl-next{
		right: -100px;
	}

	.owl-prev{
		left: -100px;
	}
}

.section-info{
	color: $gray-drak;
	text-decoration: none;

	p{
		color: $gray;
		line-height: 1.71;
		font-weight: 300;
		max-width: 300px;
		margin: 0 auto;
	}
}

.box-holder:hover{
	.section-info {
		color: $brown-light;
	}
	p{
		color: $gray;
	}
}

.icon-pencil, .icon-layers, .icon-settings, .icon-briefcase{
	font-size: 49px;
}

.box-holder{
	text-align: center;
	padding: 0 15px;
	margin-bottom: 20px;
}

@media (min-width: 576px){
	.box-holder{
		margin-bottom: 50px;
	}
}

@media (min-width: 768px){
	.box-holder{
		margin-bottom: 80px;
	}
}

.box-holder:after{
	content: "";
	display: inline-block;
	width: 70px;
	height: 3px;
	background-color: $brown-lighten;
}

.box-holder:hover:after{
	content: "";
	display: inline-block;
	width: 70px;
	height: 3px;
	background-color: $brown-light;
}

h5{
	font-size: 22px;
	font-weight: 600;
	padding: 15px 0 10px;
}

@media (min-width: 768px){
	h5{

		padding: 30px 0 20px;
	}
}

h3{

	font-size: 25px;
	font-weight: 600;
	color: $gray-drak;
	font-family: $secondary-font-family;
}

@media (min-width: 576px){
	h3{
		font-size: 27px;;
	}
}

@media (min-width: 768px){
	h3{
		font-size: 30px;
	}
}

.ideas-holder{
	padding-top: 30px;
	text-align: center;
	p{
		max-width: 760px;
		font-size: 16px;
		line-height: 1.75;
		font-weight: 300;
		font-family: $secondary-font-family;
		color: $gray;
		margin: 0 auto;
		padding-bottom: 30px;
	}
}

@media (min-width: 576px){
	.ideas-holder{
		padding-top: 50px;
	}
}

@media (min-width: 768px){
	.ideas-holder{
		padding-top: 80px;
	}
}

.section-ideas{
	padding-bottom: 30px;
	background-color: $gray-light;
}

@media (min-width: 576px){
	.section-ideas{
		padding-bottom: 50px;
	}
}

@media (min-width: 768px){
	.section-ideas{
		padding-bottom: 80px;
	}
}


.propouse-section{
	background: $brown-gradient;
}

.propouse-section-conetnt{
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	text-align: center;
	padding: 20px 0;
}

@media (min-width: 768px){
	.propouse-section-conetnt{
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
		margin: 0 30px;
		padding: 40px 0;
	}
}

h4{
	font-size: 20px;
	font-weight: 400;
	color: $white;
}

.propouse-section-right{
	span{
		color: $brown-light;
	}

	p{
		font-size: 12px;
		font-weight: 300;
		color: $brown;
	}
}

@media (min-width: 768px){
	h4{
		font-size: 24px;
	}

	.propouse-section-right{

		p{
			font-size: 14px;

		}
	}
}

@media (min-width: 1024px){
	h4{
		font-size: 28px;
	}

	.propouse-section-right{

		p{
			font-size: 18px;

		}
	}
}

.project-head{
	text-align: center;
	margin-bottom: 15px;

	p{

		font-size: 12px;
		max-width: 760px;
		text-align: center;
		margin: 0 auto;
		color: $gray;
	}
}

@media (min-width: 768px){
	.project-head{
		margin-bottom: 30px;
		p{
			font-size: 14px;

		}
	}
}

@media (min-width: 1024px){
	.project-head{
		margin-bottom: 50px;
		p{
			font-size: 16px;
		}
	}
}


.project-nav{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	color: $gray;
	justify-content: center;
	padding-top:20px;

	a{
		font-family: $secondary-font-family;
		font-size: 12px;
		text-decoration: none;
		color: $gray;
		margin: 3px 0 3px 10px;
		border:1px solid $brown;
		border-radius: 3px;
		padding: 5px 10px;
		&:focus {
			outline: none;
		}
	}

	li{
		margin: 5px 0 5px 10px;
	}

}

@media (min-width: 768px){
	.project-nav {
		a {
			font-size: 14px;
			padding: 7px 15px;
		}

		li {

		}
	}

}

@media (min-width: 1024px){
	.project-nav {
		a{
			font-size: 14px;
			padding: 10px 20px;
		}

		li{

		}

	}
}

.project-nav a:hover{
	background: $brown;
	color: $white;

}

.project-img {
	width: 100%;
	height: 100%;
	position: relative;

	img{
		width: 100%;
	}

}

.icon-holder{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;

}


.project-link1 {
	margin: 10px;
	position: absolute;
	top: 45%;
	right: 40%;
	text-decoration: none;
	color: $white;
	font-size: 20px;
	&:hover{
		color: $brown-light;
	}
}

.project-link2 {
	margin: 10px;
	position: absolute;
	top: 45%;
	right: 50%;
	text-decoration: none;
	color: $white;
	font-size: 20px;
	&:hover{
		color: $brown-light;
	}
}


.project-box{
	padding: 0 15px 15px;
	min-height: 370px;
}

h6{
	font-size: 18px;
	font-weight: 300;
	color: $brown-light;
}


.wow{
	animation-delay: .3s;
}

.project-box-text{

	padding: 30px 0 0 28px;
	background-color: $gray-light;
	position: relative;


	p{
		font-family: $secondary-font-family;
		line-height: 1.43;
		font-weight: 300;
		color: #d1d1d1;
		padding-bottom: 27px;
	}

	&:after{
		content:"";
		width: 20px;
		height: 20px;
		background-color: $gray-light;
		position: absolute;
		top: -8px;
		transform: rotate(45deg);
	}
}


.project-box:hover{

	.project-img .icon-holder{

		opacity: 1;
		background: rgba(0,0,0,0.7	);
		cursor: pointer;
	}

	h6{

		color: $white;
	}

	.project-box-text{
		background-color: $brown-dark;
		transition: .5s ease;

		p{
			color: $brown-light;
		}

		&:after{
			content:"";
			width: 20px;
			height: 20px;
			background-color: $brown-dark;
			position: absolute;
			top: -8px;
			transform: rotate(45deg);
			transition: .5s ease;
		}
	}
}



.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

.isotope,
.isotope .isotope-item {
	transition-duration: 0.8s;
}

.isotope {
	transition-property: height, width;
}

.isotope .isotope-item {
	transition-property: transform, opacity;
}

.btn-load{
	display: flex;
	justify-content: center;
	margin: 15px 0 ;
}

@media (min-width: 768px){
	.btn-load {
		margin: 30px 0 60px;
	}
}

@media (min-width: 1024px){
	.btn-load {
		margin: 40px 0 80px;
	}
}

.video-section {
	min-height: 20vh;
	flex-direction: column;
	padding-bottom: 20px;
}

@media (min-width: 768px){
	.video-section {
		padding-bottom: 40px;
	}
}

@media (min-width: 1024px){
	.video-section {
		padding-bottom: 80px;
	}
}

.header-video {
	position: relative;
	height: 23vh;
	width: 100%;
	opacity: 0;
	overflow: hidden;
}

@media (min-width: 567px){
	.video-section {
		min-height: 40vh;
	}
	.header-video {
		height: 40vh;
	}

}


.header-video iframe {
	object-fit: cover;
	object-position: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	position: absolute;
	height: calc(100vw * 0.5625);
}

.play-holder {
	position: absolute;

	padding-top: 10px;
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	text-align: center;


	a{
		color: $white;
		font-size: 40px;
		cursor: pointer;

	}

	h3 {
		color: $white;
		font-weight: 500;
		font-size: 15px;

	}
	p {
		font-size: 12px;
		color: $white;

		font-weight: 300;
		line-height: 1.2;
		margin: 0 auto;

	}
}

@media (min-width: 568px){
	.play-holder {
		padding-top: 40px;

		a{
			font-size: 60px;
		}

		h3 {
			font-size: 30px;
		}
		p {
			font-size: 16px;
			max-width: 550px;
			line-height: 1.75;
		}
	}

}

.icon-pause{
	opacity: 0.5;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.81);

	&:hover{
		opacity: 1;
	}
}

.mobile-holder{
	padding: 0 15px 15px 15px;
}

@media (min-width: 768px) {
	.mobile-holder {
		padding: 0 15px;
	}
}
.devices-title{

	h3{
		text-align: center;
	}

	p{
		color: $gray;
		font-size: 12px;
		max-width: 670px;
		font-weight: 300;
		line-height: 1.75;
		font-family: $secondary-font-family;
	}
}

.device-info{
	color: $gray;
	font-size: 12px;
	font-weight: 300;
	font-family: $secondary-font-family;
	line-height: 1.7;
	padding-left: 10px;
	list-style: none;

}

.device-img{
	text-align: center;
	display: none;
}

.icon-right{
	color: $brown-light;
	padding-right: 5px;
}

@media (min-width: 768px){

	.device-img{
		display: block;
		text-align: end;
	}

	.devices-title{
		h3{
			text-align: left;
		}

		p{
			font-size: 13px;
		}
	}

	.device-info{
		font-size: 15px;
		padding-left: 30px;
	}

	.icon-right{
		padding-right: 13px;
	}
}

@media (min-width: 1024px){

	.devices-title{
		p{
			font-size: 15px;
		}
	}

	.icon-right{
		padding-right: 15px;
	}

	.device-info{
		line-height: 2;
		padding-left: 40px;
	}
}
.popular{
	background: $brown-gradient;
	padding: 40px 0;
	margin-bottom: 20px;
}

@media (min-width: 568px){
	.popular {
		margin-bottom: 40px;
	}
}
@media (min-width: 768px){
	.popular {
		margin-bottom: 80px;
	}
}

.client-count {
	width: 50%;
	flex-direction: column;
	text-align: center;
	padding: 10px 0;


	p{
		font-family: $secondary-font-family;
		margin: 0;
		font-size: 28px;
		font-weight: 200;
		line-height: 1.2;

	};

	&:after {
		content: "";
		display: inline-block;
		width: 38px;
		height: 2px;
		background-color: $white;
	}
}


@media (min-width: 567px){
	.client-count {
		width: 33%;

		p{
			font-size: 38px;
			padding: 10px 0;
		};
	}

}

@media (min-width: 768px){
	.client-count {
		width: 20%;

		p{
			font-size: 48px;
			padding: 20px 0;
		};
	}
}

.popular-info{
	display: block;
	font-family: $secondary-font-family;
	font-weight: 300;
	line-height: 1.43;
	color: $brown-light;
	text-transform: uppercase;
}

.popular-holder{
	justify-content: space-around;
}

.post-title{
	text-align: center;

	p{
		font-size: 14px;
		font-weight: 300;
		line-height: 1.75;
		color: $gray;
		margin: 0 auto;
		padding: 10px 0 20px;
	}
}

@media (min-width: 568px){
	.post-title{
		p{
			padding: 20px 0 30px;
		}
	}
}
@media (min-width: 768px){
	.post-title{
		p{
			padding: 30px 0 40px;
		}
	}
}


@media (min-width: 768px){
	.post-title{
		p{
			font-size: 16px;
			max-width: 760px;
		}
	}
}

.post-img{
	position: relative;

	img{
		width: 100%;
	}
}



.cal-date{
	top: 20px;
	left: 20px;
	position: absolute;
	display: block;
	padding: 10px;
	font-family: $secondary-font-family;
	font-size: 24px;
	line-height: 0.83;
	font-weight: 300;
	border-radius: 5px 5px 0 0;
	background-color: $black-day;
}

.cal-month{
	top: 59px;
	left: 20px;
	position: absolute;
	display: block;
	padding: 7px 14px 7px 13px;
	font-size: 12px;
	line-height: 1.67;
	border-radius: 0 0 5px 5px;
	background-color: $black-month;
}

.post-box-text{
	padding: 0 0 30px 30px;

	h6{
		font-size: 18px;
		color: $gray-drak;
		font-weight: 600;
		padding: 30px 0 20px;
	}

	p{
		font-size: 12px;
		font-family: $secondary-font-family;
		font-weight: 300;
		line-height: 1.57;
		color: $gray;
		margin-bottom: 27px;
		padding-right: 40px;

	}
}
.read-more {
	color: $brown-light;
	text-decoration: none;
	border-bottom: 1px solid transparent;

	&:hover {
		border-bottom: 1px solid $brown-light;
	}
}

@media (min-width: 567px){
	.post-box-text{
		h6{
			font-size: 20px;
		}

		p{
			font-size: 14px;
		}
	}
}

.calendar-holder{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: .5s ease;

}

.post-slider{
	margin: 0 auto;
	padding-bottom: 10px;
}

@media (min-width: 567px){
	.post-slider{
		padding-bottom: 30px;
	}
}

@media (min-width: 768px){
	.post-slider{
		padding-bottom:60px;
	}
}

.post-box:hover{

	.post-img .calendar-holder{
		opacity: 1;
		background: rgba(0,0,0,0.7	);
		cursor: pointer;

	}

	.cal-date{
		background-color: $brown-light;
		transition: .2s ease;
	}

	.cal-month{
		background-color: $brown-article;
		transition: .2s ease;
	}

	h6{

		color: $brown-light;
	}

	.post-box-text{
		background-color: $brown-dark;
		transition: .5s ease;

		p{
			color: $white;
		}
	}
}

.partners{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.partners-img{

	display: flex;
	justify-content: center;
	padding: 20px 0;
	flex-wrap: wrap;
	img{
		z-index: 5;
		height: 100%;
		padding: 20px;
	}

}

@media (min-width: 550px){
	.partners-img{
		padding: 60px 0;
		justify-content: space-around;

	}

}

@media (min-width: 1045px){
	.partners-img {
		padding: 120px 0;
	}
}


.partners:after{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	content: "";
	background: $black;
	z-index: 1;
	opacity: 0.7;
}

