body {
	font-family: $base-font-family;
	font-size: 14px;
	line-height: 1.7;
	min-width: 320px;
	color: $base-text-color;
	overflow-x: hidden;
}

#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1230px;
	padding: 0 #{$grid-gutter-width / 2};
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -#{$grid-gutter-width / 2};
}

.col {
	padding: 0 #{$grid-gutter-width / 2};
	flex-grow: 0;
	flex-shrink: 0;

	&.center {
		justify-content: center;
	}
}

@for $i from 1 through $grid-count {
	.col-#{$i} {
		width: 100% / $grid-count * $i;
	}
}


@each $item, $breakpoint in $breakpoints {
	@media all and (min-width: $breakpoint) {
		@for $i from 1 through $grid-count {
			.col-#{$item}-#{$i} {
				width: 100% / $grid-count * $i;
			}
		}
	}
}

.button-pimary{
	padding: 15px 27px;
	color: $white;
	line-height: 1.64;
	font-weight: 800;
	border-radius: 3px;
	color: #fff;
	background-color: $brown;
	box-shadow: inset 0px -3px 0 0 #736357;
	border: 2px solid transparent;
	margin-bottom: 180px;
}

.button-pimary:hover{
	background-color: $white;
	border: 2px solid $brown;
	color: $brown;
	transition:  .5s;
}

.slider-holder{
	display: flex;
	justify-content: center;
	margin-top: 125px;

}

.slider-content{
	text-align: center;

	p{
		max-width: 562px;
		font-family: $secondary-font-family;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 52px;
	}
}

h2{
	font-size: 25px;
	font-weight: 800;


}

.sider-info{
	font-size: 19px;
	font-weight: 500;

}

@media (min-width: 536px){

	.slider-holder{
		margin-top: 200px;
	}

	.button-pimary {
		padding: 17px 35px;
	}

	.sider-info{
		font-size: 27px;
	}

	h2{
		font-size: 37px;
	}

	.slider-content p{
			font-size: 14px;
			margin-bottom: 82px;
	}
}

@media (min-width: 768px){

	.slider-holder{
		margin-top: 280px;
	}

	.button-pimary {
		padding: 17px 35px;
		margin-bottom: 350px;
	}

	.sider-info{
		font-size: 36px;
	}

	h2{
		font-size: 52px;
		line-height: 1.2;
	}

	.slider-content p{
		font-size: 16px;
	}
}

.owl-next{
	position: absolute;
	top: 30%;
	right: 0px;
	outline:none;
}
.owl-carousel{
	margin-bottom: 80px;
}

.owl-prev{
	position: absolute;
	top: 30%;
	left: 0px;
	outline:none;
}

.owl-next:hover{
	background: transparent !important;
}

.owl-prev:hover{
	background: transparent !important;
}

.owl-nav{
	font-size: 100px;
	
}

@media (min-width: 1450px) {
	.owl-next{
		right: -100px;
	}

	.owl-prev{
		left: -100px;
	}
}

.section-info{
	color: $gray-drak;
	text-decoration: none;

	p{
		color: $gray;
		line-height: 1.71;
		font-weight: 300;
	}
}

.box-holder:hover{
	.section-info {
		color: $brown-light;
	}
	p{
		color: $gray;
	}
}

.icon-pencil, .icon-layers, .icon-settings, .icon-briefcase{
	font-size: 49px;
}

.box-holder{
	text-align: center;
	padding: 0 15px;
	margin-bottom: 80px;
}

.box-holder:after{
	content: "";
	display: inline-block;
	width: 70px;
	height: 3px;
	background-color: $brown-lighten;
}

.box-holder:hover:after{
	content: "";
	display: inline-block;
	width: 70px;
	height: 3px;
	background-color: $brown-light;
}

h5{
	font-size: 22px;
	font-weight: 600;
	padding: 29px 0 19px;
}

h3{

	font-size: 30px;
	font-weight: 600;
	color: $gray-drak;
}

.ideas-holder{
	padding-top: 80px;
	text-align: center;
	p{
		max-width: 760px;
		font-size: 16px;
		line-height: 1.75;
		font-weight: 300;
		font-family: $secondary-font-family;
		color: $gray;
		margin: 0 auto;
	}
}

.section-ideas{
	padding-bottom: 80px;
	background-color: $gray-light;
}

.footer-box{
	height: 200px;
	background: $brown-gradient;
}