body {
	font-family: $base-font-family;
	font-size: 14px;
	line-height: 1.7;
	min-width: 320px;
	color: $base-text-color;
	overflow-x: hidden;
}

#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1230px;
	padding: 0 #{$grid-gutter-width / 2};
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -#{$grid-gutter-width / 2};
}

.col {
	padding: 0 #{$grid-gutter-width / 2};
	flex-grow: 0;
	flex-shrink: 0;

	&.center {
		justify-content: center;
	}
}

@for $i from 1 through $grid-count {
	.col-#{$i} {
		width: 100% / $grid-count * $i;
	}
}


@each $item, $breakpoint in $breakpoints {
	@media all and (min-width: $breakpoint) {
		@for $i from 1 through $grid-count {
			.col-#{$item}-#{$i} {
				width: 100% / $grid-count * $i;
			}
		}
	}
}

.button-pimary{
	padding: 15px 27px;
	color: $white;
	line-height: 1.64;
	font-weight: 800;
	border-radius: 3px;
	color: #fff;
	background-color: $brown;
	box-shadow: inset 0px -3px 0 0 #736357;
	border: 2px solid transparent;
	&:focus {
		outline: none;
	}

}

.button-pimary:hover{
	background-color: $white;
	border: 2px solid $brown;
	color: $brown;
	transition:  .5s;
}

.slider-holder{
	display: flex;
	justify-content: center;
	margin-top: 140px;

}

.slider-content{
	text-align: center;
	margin-bottom: 45px;

	p{
		max-width: 562px;
		font-family: $secondary-font-family;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 52px;
	}
}

h2{
	font-size: 25px;
	font-weight: 800;


}

.sider-info{
	font-size: 19px;
	font-weight: 500;

}

@media (min-width: 576px){

	.slider-holder{
		margin-top: 200px;
	}

	.button-pimary {
		padding: 17px 35px;

	}

	.sider-info{
		font-size: 27px;
	}

	h2{
		font-size: 37px;
	}

	.slider-content p{
			font-size: 14px;
			margin-bottom: 82px;
	}

	.slider-content {
		margin-bottom: 180px;
	}
}

@media (min-width: 768px){

	.slider-holder{
		margin-top: 280px;
	}

	.button-pimary {
		padding: 17px 35px;
	}

	.sider-info{
		font-size: 36px;
	}

	h2{
		font-size: 52px;
		line-height: 1.2;
	}

	.slider-content p{
		font-size: 16px;
	}

	.slider-content {
		margin-bottom: 350px;
	}
}

.owl-next{
	position: absolute;
	top: 30%;
	right: 0px;
	outline:none;
}
.owl-carousel{
	margin-bottom: 30px;
	position: relative;
	z-index: 3;
}

@media (min-width: 576px){
	.owl-carousel{
		margin-bottom: 50px;
	}
}

@media (min-width: 768px){
	.owl-carousel{
		margin-bottom: 80px;
	}
}

.owl-prev{
	position: absolute;
	top: 30%;
	left: 0;
	outline:none;
}

.owl-next:hover{
	background: transparent !important;
}

.owl-prev:hover{
	background: transparent !important;
}

.owl-nav{
	font-size: 100px;
	
}

@media (min-width: 1450px) {
	.owl-next{
		right: -100px;
	}

	.owl-prev{
		left: -100px;
	}
}

.section-info{
	color: $gray-drak;
	text-decoration: none;

	p{
		color: $gray;
		line-height: 1.71;
		font-weight: 300;
		max-width: 300px;
		margin: 0 auto;
	}
}

.box-holder:hover{
	.section-info {
		color: $brown-light;
	}
	p{
		color: $gray;
	}
}

.icon-pencil, .icon-layers, .icon-settings, .icon-briefcase{
	font-size: 49px;
}

.box-holder{
	text-align: center;
	padding: 0 15px;
	margin-bottom: 20px;
}

@media (min-width: 576px){
	.box-holder{
		margin-bottom: 50px;
	}
}

@media (min-width: 768px){
	.box-holder{
		margin-bottom: 80px;
	}
}

.box-holder:after{
	content: "";
	display: inline-block;
	width: 70px;
	height: 3px;
	background-color: $brown-lighten;
}

.box-holder:hover:after{
	content: "";
	display: inline-block;
	width: 70px;
	height: 3px;
	background-color: $brown-light;
}

h5{
	font-size: 22px;
	font-weight: 600;
	padding: 15px 0 10px;
}

@media (min-width: 768px){
	h5{

		padding: 30px 0 20px;
	}
}

h3{

	font-size: 25px;
	font-weight: 600;
	color: $gray-drak;
}

@media (min-width: 576px){
	h3{
		font-size: 27px;;
	}
}

@media (min-width: 768px){
	h3{
		font-size: 30px;
	}
}

.ideas-holder{
	padding-top: 30px;
	text-align: center;
	p{
		max-width: 760px;
		font-size: 16px;
		line-height: 1.75;
		font-weight: 300;
		font-family: $secondary-font-family;
		color: $gray;
		margin: 0 auto;
		padding-bottom: 30px;
	}
}

@media (min-width: 576px){
	.ideas-holder{
		padding-top: 50px;
	}
}

@media (min-width: 768px){
	.ideas-holder{
		padding-top: 80px;
	}
}

.section-ideas{
	padding-bottom: 30px;
	background-color: $gray-light;
}

@media (min-width: 576px){
	.section-ideas{
		padding-bottom: 50px;
	}
}

@media (min-width: 768px){
	.section-ideas{
		padding-bottom: 80px;
	}
}


.footer-box{
	background: $brown-gradient;
}

.footer-box-conetnt{
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	text-align: center;
	padding: 20px 0;
}

@media (min-width: 768px){
	.footer-box-conetnt{
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
		margin: 0 30px;
		padding: 40px 0;
	}
}

h4{
	font-size: 20px;
	font-weight: 400;
	color: $white;
}

.footer-box-right{
	span{
		color: $brown-light;
	}

	p{
		font-size: 12px;
		font-weight: 300;
		color: $brown;
	}
}

@media (min-width: 768px){
	h4{
		font-size: 24px;
	}

	.footer-box-right{

		p{
			font-size: 14px;

		}
	}
}

@media (min-width: 1024px){
	h4{
		font-size: 28px;
	}

	.footer-box-right{

		p{
			font-size: 18px;

		}
	}
}

.project-head{
	text-align: center;
	margin-bottom: 15px;

	p{
		
		font-size: 12px;
		max-width: 760px;
		text-align: center;
		margin: 0 auto;
		color: $gray;
	}
}

@media (min-width: 768px){
	.project-head{
		margin-bottom: 30px;
		p{
			font-size: 14px;

		}
	}
}

@media (min-width: 1024px){
	.project-head{
		margin-bottom: 50px;
		p{
			font-size: 16px;
		}
	}
}


.project-nav{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	color: $gray;
	justify-content: center;
	padding: 0;

	a{
		font-family: $secondary-font-family;
		font-size: 12px;
		text-decoration: none;
		color: $gray;
		margin: 3px 0 3px 10px;
		border:1px solid $brown;
		border-radius: 3px;

		&:focus {
			outline: none;
		}
	}

	li{
		padding: 5px 10px;
	}

}

@media (min-width: 768px){
	.project-nav {
		a {
			font-size: 14px;
		}

		li {
			padding: 7px 15px;
		}
	}

}

@media (min-width: 1024px){
	.project-nav {
	a{
		font-size: 14px;
	}

	li{
		padding: 10px 20px;
	}

}
}

.project-nav a:hover{
	background: $brown;
	color: $white;

}

.project-img {
	width: 100%;
	height: 100%;
	position: relative;

	img{
		width: 100%;
	}

}

.icon-holder{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;

}


.project-link1 {
	margin: 10px;
	position: absolute;
	top: 45%;
	right: 40%;
	text-decoration: none;
	color: $white;
	font-size: 20px;
	&:hover{
		color: $brown-light;
	}
}

.project-link2 {
	margin: 10px;
	position: absolute;
	top: 45%;
	right: 50%;
	text-decoration: none;
	color: $white;
	font-size: 20px;
	&:hover{
		color: $brown-light;
	}
}


.project-box{
	padding: 0 15px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.project-box-text{

	padding: 30px 0 0 28px;
	background-color: $gray-light;
	position: relative;

	p{
		font-family: $secondary-font-family;
		line-height: 1.43;
		font-weight: 300;
		color: #d1d1d1;
		padding-bottom: 27px;
	}

	h6{
		font-size: 18px;
		font-weight: 300;
		color: $brown-light;
	}

	&:after{
		content:"";
		width: 20px;
		height: 20px;
		background-color: $gray-light;
		position: absolute;
		top: -8px;
		transform: rotate(45deg);
	}
}


.project-box:hover{

	.project-img .icon-holder{

		opacity: 1;
		background: rgba(0,0,0,0.7	);
		cursor: pointer;
	}

	.project-box-text{
		background-color: $brown-dark;
		transition: .5s ease;

		p{
			color: $brown-light;
		}

		h6{

			color: $white;
		}

		&:after{
			content:"";
			width: 20px;
			height: 20px;
			background-color: $brown-dark;
			position: absolute;
			top: -8px;
			transform: rotate(45deg);
			transition: .5s ease;
		}
	}
}

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

.isotope,
.isotope .isotope-item {
	transition-duration: 0.8s;
}

.isotope {
	transition-property: height, width;
}

.isotope .isotope-item {
	transition-property: transform, opacity;
}

.btn-load{
	display: flex;
	justify-content: center;
	margin: 40px 0 80px;
}

.flex {
	min-height: 30vh;
	flex-direction: column;
}
.header-video {
	position: relative;
	height: 30vh;
	width: 100%;
	opacity: 0;
	overflow: hidden;
}

@media (min-width: 768px){
	.flex {
		min-height: 40vh;
	}
	.header-video {
		height: 40vh;
	}

}


.header-video iframe {
	object-fit: cover;
	object-position: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	position: absolute;
	height: calc(100vw * 0.5625);
}

.play-holder {
	position: absolute;
	top: 30%;
	left: 20%;
	right:20%;
	text-align: center;


	a{
		color: $white;
		font-size: 50px;
		cursor: pointer;
		text-shadow: 2px 1px 1px rgba(0,0,0,0.9);

	}

	h3 {
		color: $white;
		font-weight: 500;
		font-size: 25px;
		text-shadow: 2px 1px 1px rgba(0,0,0,0.9);

	}
	p {
		font-size: 14px;
		color: $white;
		max-width: 550px;
		font-weight: 300;
		line-height: 1.75;
		margin: 0 auto;
		text-shadow: 2px 1px 1px rgba(0,0,0,0.9);

	}
}

@media (min-width: 768px){
	.play-holder {
		h3 {
			font-size: 30px;
		}
		p {
			font-size: 16px;
		}
	}

}

.icon-pause{
	opacity: 0.3;
}