$base-font-family: 'Raleway', sans-serif;;
$secondary-font-family:  'Montserrat', sans-serif;

$white: #fff;
$black: #000;
$black-day: #363636;
$black-month: #252525;
$brown-article: #a48d72;
$brown: #998675;
$brown-light: #c7b299;
$brown-lighten: #f1eee9;
$brown-dark: #362f2d;
$white: #ffffff;
$gray-light: #fbfaf8;
$gray: #8c8c8c;
$gray-drak: #555555;
$blue: #00bff3;
$brown-gradient: linear-gradient(to right, #211b19 0%,#4e3427 100%);
$grid-gutter-width: 30px;
$grid-count: 12;

$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 1200px
);

$base-text-color: $white;
$link-color: $white;
$link-hover-color: $brown-light;

